*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
docs/images/accessory_result_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/avatar_image_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/avatar_image_02.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/avatar_image_03.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/avatar_image_04.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/avatar_modification_result_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/avatar_modification_result_02.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/avatar_prompt_result_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/avatar_prompt_result_02.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/avatar_prompt_result_03.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/background_image_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/background_image_02.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/background_image_03.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/background_image_04.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/clothing_image_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/clothing_image_02.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/clothing_image_03.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/clothing_image_04.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/clothing_prompt_result_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/clothing_prompt_result_02.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/image_based_background_result_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/image_based_background_result_02.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/image_based_result_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/new_background_result_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/same_crop_result_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/same_crop_result_02.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/txt2img_result_01.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/txt2img_result_02.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/female_01.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/female_02.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/female_03.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/female_04.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/female_05.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/female_06.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/male_01.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/male_02.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/male_03.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/male_04.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/male_05.jpg filter=lfs diff=lfs merge=lfs -text
examples/avatar/male_06.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/01.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/02.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/03.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/04.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/05.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/06.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/07.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/08.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/09.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/10.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/11.jpg filter=lfs diff=lfs merge=lfs -text
examples/background/12.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/female_01.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/female_02.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/female_03.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/female_04.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/female_05.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/female_06.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/male_01.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/male_02.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/male_03.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/male_04.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/male_05.jpg filter=lfs diff=lfs merge=lfs -text
examples/clothing/male_06.jpg filter=lfs diff=lfs merge=lfs -text
